### Task 19 - Pandas Series:

#### 1.What is a Pandas Series? Write down its key features.

A **Pandas Series** is a one-dimensional data structure in Python, provided by the Pandas library, used to store a sequence of data values. It is similar to a column in a table or a one-dimensional arrays with labels (indexes) for each element.

##### Key Features of a Pandas Series:
1. **Homogeneous Data Type**: All elements in a Series must be of the same data type, whether it's integers, floats, strings, or objects.
2. **Indexing**: Every element in a Series is associated with an index. You can access elements by their index, making it easy to manipulate data.
3. **Customizable Index**: You can customize the index to suit your needs. It can be numeric, string-based, or even a date.
4. **Supports Null Values**: It can hold `NaN` (Not a Number) values for missing data.
5. **Operations on Series**: You can perform mathematical operations, filtering, and transformations on the entire Series or its individual elements.
6. **Built-In Functions**: Pandas Series provides numerous built-in methods for common data analysis tasks such as sorting, aggregating, and handling missing values.
7. **Mutable**: You can modify the values of the Series as needed.
8. **Data Alignment**: When performing operations on two Series, their data aligns automatically based on their indexes.
9. **Integration with NumPy**: A Series can easily interface with NumPy arrays, enabling powerful numerical computations.

#### 2.Create a Pandas Series from a list [10, 20, 30, 40] and display its data type using .dtype.

In [33]:
import numpy as np
import pandas as pd

series = pd.Series([10, 20, 30, 40])
print("Pandas Series :")
print(series)
print("Datatype of Series : ",series.dtype)

Pandas Series :
0    10
1    20
2    30
3    40
dtype: int64
Datatype of Series :  int64

#### a.Create a Pandas Series from a dictionary: {'a': 100, 'b': 200, 'c': 300}. Display the Series.

In [29]:
series1 = pd.Series({'a': 100, 'b': 200, 'c': 300})
print("Pandas Series :")
print(series1)

Pandas Series :
a    100
b    200
c    300
dtype: int64

#### b.Create a Pandas Series using NumPy array: np.array([1, 2, 3, 4]). Assign custom indices ['x', 'y', 'z', 'w'].

In [43]:
array = np.array([1, 2, 3, 4])
series2 = pd.Series(array, index = ['x', 'y', 'z', 'w'])
print("Series with custom indices :")
print(series2)

Series with custom indices :
x    1
y    2
z    3
w    4
dtype: int32

#### 3.Create a Series [5, 10, 15, 20] and access the second element using .iloc.

In [49]:
series1 = pd.Series([5, 10, 15, 20])
second_element = series1.iloc[1]
print("The second element is" ,second_element)

The second element is 10

#### a.Use .loc to access the value corresponding to the label 'b' in the Series created from {'a': 50, 'b': 100, 'c': 150}.

In [59]:
series2 = pd.Series({'a': 50, 'b': 100, 'c': 150})
val = series2.loc['b']
print("The value with label b is" ,val)

The value with label b is 100

#### 4.Create a Series [1, 2, 3, 4, 5]. Add 10 to each element and display the result.

In [63]:
series = pd.Series([1, 2, 3, 4, 5])

updated_series = series + 10

print("Original Series :")
print(series)

print("Updated Series :")
print(updated_series)

Original Series :
0    1
1    2
2    3
3    4
4    5
dtype: int64
Updated Series :
0    11
1    12
2    13
3    14
4    15
dtype: int64

#### 5.Create a Series [10, 20, 30, 40, 50]. Filter and display only the values greater than 25.

In [65]:
series = pd.Series([10, 20, 30, 40, 50])

filtered_series = series[series > 25]

print("Original Series :")
print(series)

print("Filtered Series :")
print(filtered_series)

Original Series :
0    10
1    20
2    30
3    40
4    50
dtype: int64
Filtered Series :
2    30
3    40
4    50
dtype: int64

#### 6.Create a Series [1, 2, None, 4, None]. Use .isna() to identify missing values.

In [77]:
series = pd.Series([1, 2, None, 4, None])
print(series)

print("Missing values:")
series.isna()

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64
Missing values:

0    False
1    False
2     True
3    False
4     True
dtype: bool

#### a.Use .notna() to display only non-missing values.

In [79]:
print("Series with only non-missing values:")
series[series.notna()]

Series with only non-missing values:

0    1.0
1    2.0
3    4.0
dtype: float64

#### 7.Create a Series [2, 4, 6, 8, 10]. Calculate the sum of all elements using .sum().

In [87]:
series = pd.Series([2, 4, 6, 8, 10])
print("Series : ")
print(series)
print("Sum of all elements in series:",series.sum())

Series :
0     2
1     4
2     6
3     8
4    10
dtype: int64
Sum of all elements in series: 30

#### 8.Create a Series [10, 15, 20, 25]. Use .apply() with a lambda function to square each value.

In [93]:
s = pd.Series([10, 15, 20, 25])

squared_values = s.apply(lambda x: x**2)

print("Series : ")
print(s)

print("Squared values:")
print(squared_values)

Series :
0    10
1    15
2    20
3    25
dtype: int64
Squared values:
0    100
1    225
2    400
3    625
dtype: int64

#### 9.Create a Series [1, 2, None, 4, 5]. Check if the Series contains any missing values using .isna() and .any().

In [95]:
series = pd.Series([1, 2, None, 4, 5])

missing_values = series.isna().any()
print("Contains missing values:", missing_values)

Contains missing values: True

#### 10.Create a Series [2, 4, 6, 8]. Multiply each value 5

In [97]:
s = pd.Series([2, 4, 6, 8])

result = s*5

print("Series : ")
print(s)

print("Multiplying each value by 5 :")
print(result)

Series :
0    2
1    4
2    6
3    8
dtype: int64
Multiplying each value by 5 :
0    10
1    20
2    30
3    40
dtype: int64

#### a.Create two Series [1, 2, 3] and [4, 5,by  6]. Add them together.

In [99]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

result = s1+s2

print("Series 1: ")
print(s1)

print("Series 2: ")
print(s2)

print("Adding s1 and s2 :")
print(result)

Series 1:
0    1
1    2
2    3
dtype: int64
Series 2:
0    4
1    5
2    6
dtype: int64
Adding s1 and s2 :
0    5
1    7
2    9
dtype: int64