1.Lists the tuple Properties and Explain immutability in Python tuples with examples. 

Properties of tuple : 
1. Tuple is immutable i.e. once a tuple is created its elements cannot be changed, added or removed.
2. It is defined inside ().
3. It allows repetition of values.

In [1]:
t = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
print(t)
print(type(t))
t[0] = -10
print("Updating value at index 0",t)

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [3]:
t.insert(4, -20)
print(t)

AttributeError: 'tuple' object has no attribute 'insert'

In [5]:
t.remove(40)
print(t)

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
#2.Tuple Basics Create a Python tuple containing the names of your favorite fruits. 
#Write a Python program to print each fruit name from the tuple.

fruits = ('apple', 'banana', 'orange', 'mango', 'kiwi')
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
banana
orange
mango
kiwi

In [13]:
#3.Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

tup_1 = ('a', 'y', 's', 2, 'Hello', 40)
tup_2 = (1, 9, 3, 100, 54, 75, 30)

print("tup_1 : ", tup_1)
print("tup_2 : ", tup_2)

tup_3 = tup_1 + tup_2
print("Concatenating tup_1 and tup_2 :", tup_3)

tup_1 :  ('a', 'y', 's', 2, 'Hello', 40)
tup_2 :  (1, 9, 3, 100, 54, 75, 30)
Concatenating tup_1 and tup_2 : ('a', 'y', 's', 2, 'Hello', 40, 1, 9, 3, 100, 54, 75, 30)

In [15]:
#4.Write a Python program that takes a tuple of integers and converts it into a set. 
#Then, find and print the maximum and minimum value from the set.

tup_1 = (1, 9, 3, 100, 54, 75, 30)
print("Tuple tup_1 :", tup_1)

set_1 = set(tup_1)
print("Tuple tup_1 converted to set set_1 :", set_1)

print("Maximum value in set_1 :", max(set_1))
print("Minimum value in set_1 :", min(set_1))

Tuple tup_1 : (1, 9, 3, 100, 54, 75, 30)
Tuple tup_1 converted to set set_1 : {1, 3, 100, 9, 75, 54, 30}
Maximum value in set_1 : 100
Minimum value in set_1 : 1

In [19]:
#5.Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

tup = tuple(range(10,110,10))
print("Tuple :", tup)

print("Elements from 3rd to the 7th position :", tup[3:8])

Tuple : (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Elements from 3rd to the 7th position : (40, 50, 60, 70, 80)

In [23]:
#6.Access value 20 from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [25]:
#7.tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

tup=(1,2,3,2,4,5,3,4,2)

print("Count of 2 :", tup.count(2))

Count of 2 : 3

In [33]:
#8.Create a tuple of numbers. Use slicing to create a new tuple containing only the even-indexed elements of the original tuple.

Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

Tup_Even = Tuple([2: :2])

print(Tup_Even)

SyntaxError: invalid syntax (645455709.py, line 5)