*What is Python? 

Python is a dynamic, high-level, open source, and interpreted programming language.


*How would you explain its key features and characteristics?

Features : 
1.Easy to learn and use
2.Has extensive amount of libraries for web development, data science, AI
3.Cross-platform - Supoorts Windows, macOS, and Linux machines
4.Dynamically typed language - no need to mention datatype of a variable
5.Interpreted Language - Python code is executed line by line at a time.


*List and explain some common applications of Python.

1. Web Development
2. Machine Learning and Artificial Intelligence
3. Data Science
4. Game Development
5. Audio and Visual Applications
6. Software Development
7. CAD Applications
8. Business Applications
9. Desktop GUI
10. Web Scraping Application

Discuss the advantages and disadvantages of using Python as a programming language.

Advantages :
1.Easy to learn and use
2.Has extensive amount of libraries for web development, data science, AI
3.Cross-platform - Supoorts Windows, macOS, and Linux machines
4.Dynamically typed language - no need to mention datatype of a variable
5.Interpreted Language - Python code is executed line by line at a time.

Disadvantages :
1.Slow Speed and Memory Inefficient
2.Poor Database Access
3.Runtime Errors due to dynamic typing

*Explain about identifiers and their rules.

Identifiers are the name given to variables, classes, and functions.

Rules for Naming Python Identifiers

1.Identifiers cannot be a keyword.
2.It should not contain white space.
3.It can be a combination of A-Z, a-z, 0-9, or underscore.
4.It should start with an alphabet character or an underscore ( _ ).
5.It should not contain any special character other than an underscore ( _ ).


*Run all the following variables and separate valid and Invalid Variables?

my_variable = 25 counter = 40.7 "_total = ""Hello""" 123abc = 34 my variable =6.7 "@count = ""hi""" "for = ""True""" Name123 = 136 myFunction = True _data = False "if_condition? = ""Innomatics""" "class = ""Hyderabad"""

In [5]:
my_variable = 25 #valid

In [7]:
counter = 40.7 #valid

In [9]:
"_total = ""Hello""" #its a string as written inside quotes

'_total = Hello'

In [11]:
123abc = 34 #invalid

SyntaxError: invalid decimal literal (2594609077.py, line 1)

In [13]:
my variable =6.7 #invalid

SyntaxError: invalid syntax (4132032776.py, line 1)

In [15]:
"@count = ""hi""" ##its a string as written inside quotes

'@count = hi'

In [17]:
"for = ""True""" ##its a string as written inside quotes

'for = True'

In [19]:
Name123 = 136 #valid

In [21]:
myFunction = True #valid

In [23]:
_data = False #valid

In [35]:
"if_condition? = ""Innomatics""" #its a string as written inside quotes

'if_condition? = Innomatics'

In [27]:
"class = ""Hyderabad""" #its a string as written inside quotes

'class = Hyderabad'

*Use different Identifiers (variables) and assign the below values
10
5
3.14159
-0.12345
1000
"""Hello, World!"""
"""Python"""
"""I am learning"""
"""Text type"""
"""String"""
True
False

In [48]:
a = 10
num = 5
b  = 3.14159
num_2 = -0.12345
val = 1000
str = """Hello, World!"""
str_1 = """Python"""
s = """I am learning"""
_val = """Text type"""
input_s = """String"""
bool_1 = True
condition = False

*a= 10, b= 20,
Swipe the values without using the 3rd variable
Output: a= 20, b = 10

In [60]:
a = 10 ; b = 20
print("Before Swapping \n" "a = ", a, " b = ", b)
a, b = b, a
print("After Swapping \n" "a = ", a, " b = ", b)

Before Swapping
a =  10  b =  20
After Swapping
a =  20  b =  10