### Task 21 - Iris Dataset

In [16]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv('Iris.csv')

#### 1.What type of data does each column in the Iris dataset contain?

In [28]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

#### 2.What are the dimensions of the Iris dataset?

In [30]:
df.ndim

2

#### 3.How many unique species of flowers are present in the dataset, and what are their names?

In [52]:
species = df.Species.unique()
print("No. of Species : ",len(species))
print("Names of Species : ",species)

No. of Species :  3
Names of Species :  ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

#### 4.Check if there are any nan values in the dataset.

In [58]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

#### 5.convert the "id" column from int to float.

In [62]:
df['Id'] = df['Id'].astype(float)
df.Id.dtype

dtype('float64')

#### 6.What is the range of values for the ‘SepalLengthCm’ and ‘PetalWidthCm’?

In [64]:

sepal_length_range = (df['SepalLengthCm'].min(), df['SepalLengthCm'].max())
petal_width_range = (df['PetalWidthCm'].min(), df['PetalWidthCm'].max())

print(f"Range of SepalLengthCm: {sepal_length_range}")
print(f"Range of PetalWidthCm: {petal_width_range}")

Range of SepalLengthCm: (4.3, 7.9)
Range of PetalWidthCm: (0.1, 2.5)

#### 7.What is the mean and median of the ‘PetalLengthCm’ column?

In [70]:
PL_mean = df['PetalLengthCm'].mean()
PL_median = df['PetalLengthCm'].median()

print(f"Mean of PetalLengthCm: {PL_mean}")
print(f"Median of PetalLengthCm: {PL_median}")

Mean of PetalLengthCm: 3.758666666666666
Median of PetalLengthCm: 4.35

#### 8.What does the df.describe().T function do, and how can it help in performing exploratory data analysis on the Iris dataset? Interpret the output.

In [72]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [74]:
df.describe().T

               count       mean        std  min    25%    50%     75%    max
Id             150.0  75.500000  43.445368  1.0  38.25  75.50  112.75  150.0
SepalLengthCm  150.0   5.843333   0.828066  4.3   5.10   5.80    6.40    7.9
SepalWidthCm   150.0   3.054000   0.433594  2.0   2.80   3.00    3.30    4.4
PetalLengthCm  150.0   3.758667   1.764420  1.0   1.60   4.35    5.10    6.9
PetalWidthCm   150.0   1.198667   0.763161  0.1   0.30   1.30    1.80    2.5

The .describe() method in pandas provides a summary of statistical data for each numerical column in a DataFrame. Using .T transposes the output so that rows become columns and vice versa.
This is especially useful for analyzing data and spotting trends.

#### 9.How would you select the first five rows of the Iris dataset using iloc

In [77]:
df.iloc[:5]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  3.0            4.7           3.2            1.3           0.2  Iris-setosa
3  4.0            4.6           3.1            1.5           0.2  Iris-setosa
4  5.0            5.0           3.6            1.4           0.2  Iris-setosa

#### 10.How can you access the 'PetalLengthCm' column for rows where the index label is 'iris-setosa' using loc?

In [81]:
df.loc[df['Species'] == 'Iris-setosa'].PetalLengthCm

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
30    1.6
31    1.5
32    1.5
33    1.4
34    1.5
35    1.2
36    1.3
37    1.5
38    1.3
39    1.5
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    1.4
48    1.5
49    1.4
Name: PetalLengthCm, dtype: float64

#### 11.How would you filter the dataset to include only rows where 'SepalLengthCm' is greater than 5.0 and 'PetalWidthCm' is less than 1.5 using the & operator?

In [83]:
df[(df.SepalLengthCm > 5) & df.PetalWidthCm < 1.5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

#### 12.Using loc and & to Select Rows Labeled 'Versicolor' where 'SepalLengthCm' is Between 5.5 and 6.5

In [87]:
df.loc[(df.Species == 'Iris-versicolor') & (df.SepalLengthCm.between(5.5, 6.5))]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
51,52.0,6.4,3.2,4.5,1.5,Iris-versicolor
53,54.0,5.5,2.3,4.0,1.3,Iris-versicolor
54,55.0,6.5,2.8,4.6,1.5,Iris-versicolor
55,56.0,5.7,2.8,4.5,1.3,Iris-versicolor
56,57.0,6.3,3.3,4.7,1.6,Iris-versicolor
61,62.0,5.9,3.0,4.2,1.5,Iris-versicolor
62,63.0,6.0,2.2,4.0,1.0,Iris-versicolor
63,64.0,6.1,2.9,4.7,1.4,Iris-versicolor
64,65.0,5.6,2.9,3.6,1.3,Iris-versicolor
66,67.0,5.6,3.0,4.5,1.5,Iris-versicolor
67,68.0,5.8,2.7,4.1,1.0,Iris-versicolor
68,69.0,6.2,2.2,4.5,1.5,Iris-versicolor
69,70.0,5.6,2.5,3.9,1.1,Iris-versicolor
70,71.0,5.9,3.2,4.8,1.8,Iris-versicolor
71,72.0,6.1,2.8,4.0,1.3,Iris-versicolor
72,73.0,6.3,2.5,4.9,1.5,Iris-versicolor
73,74.0,6.1,2.8,4.7,1.2,Iris-versicolor
74,75.0,6.4,2.9,4.3,1.3,Iris-versicolor
78,79.0,6.0,2.9,4.5,1.5,Iris-versicolor
79,80.0,5.7,2.6,3.5,1.0,Iris-versicolor
80,81.0,5.5,2.4,3.8,1.1,Iris-versicolor
81,82.0,5.5,2.4,3.7,1.0,Iris-versicolor
82,83.0,5.8,2.7,3.9,1.2,Iris-versicolor
83,84.0,6.0,2.7,5.1,1.6,Iris-versicolor
85,86.0,6.0,3.4,4.5,1.6,Iris-versicolor
87,88.0,6.3,2.3,4.4,1.3,Iris-versicolor
88,89.0,5.6,3.0,4.1,1.3,Iris-versicolor
89,90.0,5.5,2.5,4.0,1.3,Iris-versicolor
90,91.0,5.5,2.6,4.4,1.2,Iris-versicolor
91,92.0,6.1,3.0,4.6,1.4,Iris-versicolor
92,93.0,5.8,2.6,4.0,1.2,Iris-versicolor
94,95.0,5.6,2.7,4.2,1.3,Iris-versicolor
95,96.0,5.7,3.0,4.2,1.2,Iris-versicolor
96,97.0,5.7,2.9,4.2,1.3,Iris-versicolor
97,98.0,6.2,2.9,4.3,1.3,Iris-versicolor
99,100.0,5.7,2.8,4.1,1.3,Iris-versicolor

#### 13.Using loc and | to Filter Rows Labeled 'Virginica' or 'Setosa' with 'Petal'WidthCm' Greater Than 2.0

In [97]:
df.loc[((df.Species == 'Iris-virginica') | (df.Species == 'Iris-setosa')) & (df.PetalWidthCm > 2)]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [ ]:
df.loc[((df['Species']=='Iris-virginica')|(df['Species']=='Iris-setosa'))&(df['PetalWidthCm']>2.0)]